/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        left_hold: left_hold {
            compatible = "zmk,behavior-hold-tap";
            label = "LEFT_HOLD";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 39 40 41>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            hold-trigger-on-release;
            require-prior-idle-ms = <150>;
            quick-tap-ms = <175>;
        };

        right_hold: right_hold {
            compatible = "zmk,behavior-hold-tap";
            label = "RIGHT_HOLD";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            label = "Base";
            bindings = <
&trans  &kp DEL                &kp C                  &kp Y               &kp F               &kp K           &kp Z        &kp L                &kp COMMA            &kp U                    &kp Q                    &trans
&trans  &left_hold LEFT_GUI R  &left_hold LEFT_ALT S  &left_hold LCTRL T  &left_hold LSHFT H  &kp P           &kp W        &right_hold RSHFT N  &right_hold RCTRL A  &right_hold RIGHT_ALT I  &right_hold RIGHT_GUI O  &trans
&trans  &kp J                  &kp V                  &kp G               &kp D               &lt 3 B         &lt 8 X      &kp M                &kp PERIOD           &kp BACKSPACE            &trans                   &trans
                                                      &lt 5 TAB           &lt 2 E             &lt 1 ESCAPE    &lt 7 ENTER  &lt 6 SPACE          &trans
            >;
        };

        Numbers {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            label = "numbers";
            bindings = <
&none  &none         &none         &none      &none      &none    &none       &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &none            &none
&none  &kp LEFT_GUI  &kp LEFT_ALT  &kp LCTRL  &kp LSHFT  &none    &none       &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_NUMBER_4  &none
&none  &none         &none         &none      &none      &none    &none       &kp KP_NUMBER_5  &kp KP_NUMBER_6  &none            &none            &none
                                   &none      &none      &none    &kp PERIOD  &kp KP_NUMBER_0  &none
            >;
        };

        Arrows {
            label = "arrows";
            bindings = <
&none  &none         &none         &none      &none      &none    &none      &none          &none          &none         &none      &none
&none  &kp LEFT_GUI  &kp LEFT_ALT  &kp LCTRL  &kp LSHFT  &none    &kp CAPS   &kp LEFT       &kp DOWN       &kp UP_ARROW  &kp RIGHT  &none
&none  &none         &none         &none      &tog 9     &none    &kp INS    &kp HOME       &kp PAGE_DOWN  &kp PG_UP     &kp END    &none
                                   &none      &none      &none    &kp ENTER  &kp BACKSPACE  &none
            >;
        };

        Media {
            bindings = <
&none  &none       &none              &none       &none             &none               &bt BT_CLR        &none             &none         &none         &bt BT_CLR_ALL  &none
&none  &kp K_PREV  &kp K_VOLUME_DOWN  &kp K_MUTE  &kp K_VOL_UP      &kp K_NEXT          &kp K_PREV        &kp K_VOL_DN      &kp K_MUTE    &kp K_VOL_UP  &kp K_NEXT      &none
&none  &none       &none              &none       &none             &none               &bt BT_SEL 0      &bt BT_SEL 1      &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &none
                                      &none       &kp K_PLAY_PAUSE  &kp C_MEDIA_STEP    &kp C_MEDIA_STEP  &kp K_PLAY_PAUSE  &none
            >;
        };

        Mouse {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        Brackets {
            bindings = <
&none  &none     &none     &none      &none      &none    &none  &kp RIGHT_PARENTHESIS  &kp RBKT  &kp GREATER_THAN  &kp RIGHT_BRACE  &none
&none  &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &none    &none  &kp LEFT_PARENTHESIS   &kp LBKT  &kp LESS_THAN     &kp LEFT_BRACE   &none
&none  &none     &none     &none      &none      &none    &none  &kp RIGHT_PARENTHESIS  &kp RBKT  &kp GREATER_THAN  &kp RIGHT_BRACE  &none
                           &none      &none      &none    &none  &kp EQUAL              &none
            >;
        };

        Punctuation {
            bindings = <
&none  &kp GRAVE     &none            &kp TILDE          &kp AT         &none        &none  &kp HOME   &kp PG_DN  &kp PG_UP  &kp END    &none
&none  &kp QUESTION  &kp EXCLAMATION  &kp DOUBLE_QUOTES  &kp SQT        &none        &none  &kp LSHFT  &kp LCTRL  &kp LALT   &kp RGUI   &none
&none  &none         &none            &kp AMPERSAND      &kp BACKSLASH  &none        &none  &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT  &none
                                      &kp PIPE           &kp SEMI       &kp COLON    &none  &none      &none
            >;
        };

        Math_Symbols {
            bindings = <
&none  &none      &none     &none        &kp DOLLAR  &none             &none  &none      &none      &none     &none     &none
&none  &kp ASTRK  &kp FSLH  &kp MINUS    &kp PLUS    &none             &none  &kp LSHFT  &kp LCTRL  &kp LALT  &kp RGUI  &none
&none  &none      &none     &kp PERCENT  &kp POUND   &none             &none  &none      &none      &none     &none     &none
                            &kp CARET    &kp EQUAL   &kp UNDERSCORE    &none  &none      &none
            >;
        };

        Function {
            bindings = <
&none  &none   &kp F9  &kp F8  &kp F7  &kp F10    &none  &none      &none      &none     &none     &none
&none  &kp F4  &kp F3  &kp F2  &kp F1  &kp F11    &none  &kp LSHFT  &kp LCTRL  &kp LALT  &kp LGUI  &none
&none  &none   &none   &kp F6  &kp F5  &kp F12    &none  &none      &none      &none     &none     &none
                       &none   &none   &none      &none  &none      &none
            >;
        };

        Macro {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &tog 10  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans   &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        Game {
            bindings = <
&none  &kp ESC  &kp C  &kp Y  &kp F  &kp K    &kp Z    &kp L      &kp N1  &kp N2  &tog 10  &none
&none  &kp R    &kp S  &kp T  &kp H  &kp P    &kp W    &kp N      &kp A   &kp I   &kp O    &none
&none  &kp J    &kp V  &kp G  &kp D  &kp B    &kp X    &kp M      &kp N3  &kp N4  &kp N5   &none
                       &kp U  &kp E  &kp Q    &kp RET  &kp SPACE  &kp N6
            >;
        };
    };
};

&nice_view_spi { cs-gpios = <&pro_micro 0 GPIO_ACTIVE_HIGH>; };
